# Archivos de entorno y cache Python
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env

# Pruebas y DB Local
.pytest_cache/
backend/nba.db
backend/logs/


# Archivos pesados / Kaggle
TeamStatistics.csv
kaggle_downloads/

# Logs de entrenamiento CatBoost
catboost_info/

# Frontend
frontend/node_modules/
frontend/dist/
.DS_Store
